.responsive-fieldset {
  display:table-cell;
  width: 98%
}

.firstlabel{
  position:relative;
  font-size:12px;
  left:-378px;
  top:19px;
  color:grey;
}
.lastlabel{
  position:relative;
  font-size:12px;
  left:-215px;
  top:19px;
  color:grey;
}

.rate:not(:checked) > input {
    position:absolute;
  top:-9999px;
  
}
.rate:not(:checked) > label {
    float:left;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.grey_color{
  background-color:rgb(235, 235, 235);
  font-family: "Times New Roman", Times, serif;
}
.white_color{
  font-family: "Times New Roman", Times, serif;
}
.radios{
  text-align:center;
}
.red{
  color:red;
}
